<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crime Data Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="icon" href="https://i.pinimg.com/280x280_RS/49/a9/82/49a982dd8c27763a28cb2404c816e6fe.jpg">
    <link rel="stylesheet" href="static/css/style.css">

    <body>
        <!----------------------------------------------NAV BAR----------------------------------------------------------->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/analysis">Analysis</a>
                <a class="nav-item nav-link active" href="/data">Data Query</a>
            </div>
    
        </nav>

        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1 id="home_title">Houston Crime Visualization</h1>
                <br>
                <h4>Below you can see the crime map of Houston</h4>
             </div>
        </div>

        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1 id="Map">Temp BOX for MAP</h1>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1 id="Map_data">This is where the data will be output to</h1>
            </div>
        </div>




    </body>

    </html>